/*General Styling Sheet for Michael Heilman's Portfolio website*/

/*Import link for Ubuntu Font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Import link for Roboto Font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Global CSS variables*/
:root {
    --main-color: #00BAE1;
    --image-card-color: #3490c4;
    --text-card-color: #27a4bd;
    --hover-link-color: #008BFF;
    --opening-text-color: #d8e5e9;
    --header-font-family: "Ubuntu", sans-serif;
    /*Font from fonts.google.com*/
    --parag-font-family: "Roboto", sans-serif;
    /*Font from fonts.google.com*/
}

html {
    scroll-padding-top: 50px;
    /*Adds a bit of padding between the navbar and the "link" location on the page when clicking on the link in
    the navbar*/
    scroll-behavior: smooth;
}

/* *** General Styling *** */
body {
    padding-top: 50px;
}

/* *** End of General Styling *** */