/*General Styling Sheet for Michael Heilman's Portfolio website*/

/*Import link for Ubuntu Font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Import link for Roboto Font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Global CSS variables*/
:root {
    --main-color: #00BAE1;
    --image-card-color: #3490c4;
    --text-card-color: #27a4bd;
    --hover-link-color: #008BFF;
    --opening-text-color: #d8e5e9;
    --header-font-family: "Ubuntu", sans-serif;
    /*Font from fonts.google.com*/
    --parag-font-family: "Roboto", sans-serif;
    /*Font from fonts.google.com*/
}

html {
    scroll-padding-top: 50px;
    /*Adds a bit of padding between the navbar and the "link" location on the page when clicking on the link in
    the navbar*/
    scroll-behavior: smooth;
}

/* *** General Styling *** */
body {
    margin: 0%;
    /*Ensures the site displays all the way to the edge of the browser screen*/
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
    overflow-x: hidden;
    /*Removes left to right scroll bar*/
    user-select: none;
}

/* Contributes to the fade effect for the page that occurs when the page is loaded*/
body.fade-out {
    opacity: 0.1;
}

h1 {
    text-transform: uppercase;
    /*Capitalizes all letters in header*/
    font-family: var(--header-font-family);
    text-align: center;
    margin-top: 3%;
    color: var(--text-color);
}

/* Make the header be bigger slightly when hovered over */
h1:hover {
    filter: grayscale(5%);
    /*Adds a slight gray filter to the header*/
}

/* A class to override color of the header to white */
.opening-text {
    color: var(--opening-text-color);
    padding-top: 10vh;
}

p {
    font-family: var(--parag-font-family);
    font-size: 2.5vw;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /*Expands the text spacing slightly*/
}

/* A class to center text */
.center {
    text-align: center;
}

a {
    color: blue;
    /*Ensures all links are blue*/
    cursor: pointer;
    text-decoration: underline;
}

/* Stylize the quote */
q {
    font-style: italic;
}

img {
    filter: saturate(30%);
    /* Saturate the image a bit to give it a unique style before being hovered over */
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* sets the height for the image and width is set auto to allow height change*/
    margin: auto auto auto auto;
}

/* Add a hover affect that brings back the full color */
img:hover {
    filter: saturate(100%);
}

footer {
    padding: 2%;
    margin: 0px -8px -8px -8px;
    /*Margin order: top, right, bottom, left.*/
    background-color: var(--main-color);
    bottom: 0;
    /* Places footer at bottom of the browser screen */
}
/* *** End of General Styling *** */

/* *** Navbar Styling *** */
nav {
    overflow: hidden;
    background-color: var(--main-color);
    position: fixed;
    /* Keeps the navbar in the same position relative to the user scrolling*/
    top: 0;
    /* Places the navbar at the top of the browser screen */
    width: 100%;
    z-index: 1;
    /* Places the navbar above all content on the page */
    -webkit-animation: moveNav 4.75s;
    /* Applies the moveNav animation for Safari 4.0 - 8.0 */
    animation: moveNav 4.75s;
    /* Applies moveNav animation for all other browsers */
}

/* have the navbar hidden when the screen is loaded and then bring it in from the left side of screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/* Change styling for the anchor links in the navbar */
nav a {
    float: left;
    display: block;
    /* Ensure the other text will be displayed on the same line or row */
    color: black;
    padding: 0.75vw 1vw;
    /* Padding order: top and bottom; left and right*/
    text-decoration: none;
    /* Removes the underline from the anchor text */
    font-family: var(--header-font-family);
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    position: relative;
    /* Setting the text position to relative will allow the moveNavText animation to work */
    -webkit-animation: moveNavText 5.75s;
    /* Applies the moveNavText animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s;
    /* Applies moveNavText animation for all other browsers */
}

/* have the navbar links be hidden when the screen is loaded and then bring them down from the top of screen */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

nav a:hover {
    background-color: var(--hover-link-color);
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* *** End of Navbar Styling *** */

/* *** Back ground Video and Text Overlay Styling ** */
#program-screen-video {
    position: fixed;
    right: 0;
    bottom: 0;
    /* The right and bottom set to zero makes sure there is no space between the left and right, and top and bottom, repsectively */
    z-index: -1;
    /* Sets video below all aother content on page */
    min-width: 100%;
}

/* For screens 576px and smaller, make the background video disappear */
@media screen and (max-width: 576px) {
    #program-screen-video {
        display: none;
    }
}

.text-over-video {
    background: rgba(0,0,0,0.5);
    color: var(--opening-text-color);
    width: 100%;
    padding: 20px;
    padding-top: 2vh;
    position: relative;
    /* Setting the text position to relative will allow the moveVideoText animation to work */
    -webkit-animation: moveVideoText 5.75s;
    /* Applies the moveNavText animation for Safari 4.0 - 8.0 */
    animation: moveVideoText 5.75s;
    /* Applies moveNavText animation for all other browsers */
}

/* have the video-text be hidden when the screen is loaded and then bring it down from the top of screen */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* *** End of Back ground Video and Text Overlay Styling ** */

/* *** Slideshow Styling *** */
#slideshow-background {
    background: rgba(255,255,255,0.35);
}

.my-slides {
    display: none; /* Will display the slides using JS code */
}

#slideshow-container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* Make modification to the anchor links for the next and previous buttons for slideshow */
#slideshow-container a {
    text-decoration: none;
}

.slideshow-text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: var(--parag-font-family);
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.slideshow-image {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
    width: 100%;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    /* make it so the user cannot highlight the "text" */
    transition: 0.6s ease;
}

.next {
    right: 0;
    /* move the button to the right side of slideshow */
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* Stylize the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    /* Makes the transition to a different color smooth when clicked on */
    z-index: 1;
    /* ensures the dots will be displayed above any other elements */

}

/* hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

/* fading animation for slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends as opaque */
}

@-webkit-keyframes fade {
    from {opacity: 0.4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends as opaque */
}
/* *** End of Slideshow Styling *** */

/* *** Content Styling *** */
/* Make all elementst to include padding and border in element's total width and height.*/
* {
    box-sizing: border-box;
}

/* This section covers the styling of the text-cards and image-cards */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-card {
    float: left;
    width: 50%;
    /* Ensures the column takes up half of the page width */
    padding-top: 1.6%;
    height: 550px;
    background-color: var(--text-card-color);
}

.image-card {
    display: flex;
    justify-content: center;
    float: left;
    width: 50%;
    /* Ensures the column takes up half of the page width */
    height: 550px;
    background-color: var(--image-card-color);
}

/* *** End of Content Styling *** */

/* *** Contact Form Styling *** */
.pop-up-button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    /* Positon the button always in the bottom right corner*/
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    animation: movePopup 5s;
    -webkit-animation: movePopup 5s;
}

/* Make the pop-up button show up from the side of the browser screen */
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;
    /* Palce contact form above all content */
    display: none;
}

.form-container {
    position: fixed;
    bottom: .5vw;
    right: .5vw;
    width: 49vw;
    padding: 1vw;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: 0.93vw;
    margin: 0.6vw 0 0.6vw 0;
    border: 0.5px solid black;
    background: gainsboro;
    font-size: 1vw;
}

/* general styling for all buttons */
button {
    font-family: var(--parag-font-family);
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* Hover effects for cotnact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* adds space between submit and close button on form */
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

label {
    font-family: var(--parag-font-family);
    font-size: 18px;
    margin-left: 10px;
}

/* *** End of Contact Form Styling *** */

/* *** Media Query Section *** */
/* media rules for paragraph and slideshow-text font size for different screen sizes */
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }

    .slideshow-text {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }

    .slideshow-text {
        font-size: 2.5vw;
    }

}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }

    .slideshow-text {
        font-size: 2.5vw;
    }

}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }

    .slideshow-text {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }

    .slideshow-text {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }

    .slideshow-text {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }

    .slideshow-text {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px){
    p {
        font-size: 1.25vw;
    }
}

/* media rule for navbar links for differen screen sizes */
@media screen and (max-width: 1080px) {
    nav a {
        width: 20%; /* Set the navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* media rule for enlarge the font of the text over the video */
@media screen and (max-width: 1080px) {
    q {
        font-size: 3.5vw;
    }

    .opening-text {
        font-size: 4.5vw;
    }
}

/* media fule to remove margin-top from h1 elements for extra large screens */
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}
/* *** End of Media Query Section *** */